# Information Extraction

#### Developed By: Manaranjan Pradhan
#### www.manaranjanp.com

*This Jupyter notebook is confidential and proprietary to Manaranjan Pradhan. It is intended solely for authorized training purposes. Unauthorized distribution, sharing, or reproduction of this notebook or its contents is strictly prohibited. This material is for personal learning within the training program only and may not be used for commercial purposes or shared with others. Unauthorized use may result in disciplinary action or legal consequences. If you have received this notebook without authorization, please contact manaranjan@gmail.com immediately and delete all copies.*

In [1]:
!pip install -q langchain openai langchain_openai langchain_openai

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.7/50.7 kB 2.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 389.9/389.9 kB 11.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 35.2 MB/s eta 0:00:00

[Source: Washington Post](https://www.washingtonpost.com/climate-environment/2023/04/11/electric-vehicle-buying-guide/)

## Accesing the Page Content

In [3]:
from bs4 import BeautifulSoup

with open("/content/zigwheels.html") as fp:
    soup = BeautifulSoup(fp, 'html.parser')

In [4]:
text = soup.get_text()

In [5]:
print(text[0:1000])

Electric Cars in India 2024, EV Car Prices, Mileage, Battery Cars @ ZigWheels













































0














































News & Reviews

Auto News
Expert Reviews
User Reviews
Ask a Question
Auto Web Stories
Photo Gallery
Video Gallery



New Cars

Find New Cars

Popular Car Brands

 Renault Cars
 Skoda Cars
 Jeep Cars
 Citroen Cars
 Hyundai Cars
 Tata Cars
 Maruti Suzuki Cars
 Kia Cars
 Mahindra Cars
 Toyota Cars
 Honda Cars
 MG Cars
 All Car Brands



Popular Car Models

 Best Cars in India »
 Maruti Grand Vitara
 Renault Kiger
 Skoda Slavia
 Tata Punch
 Hyundai Exter
 Maruti FRONX
 Maruti Swift
 Jeep Wrangler
 Jeep Compass
 Mahindra Thar
 Volkswagen Tiguan
 Mahindra Scorpio N
 Toyota Innova Hycross



Cars By Budget

Cars Under 5 Lakhs
Cars Under 8 Lakhs
Cars Under 10 Lakhs
Cars Under 15 Lakhs
Cars Under 20 Lakhs


Upcoming Cars
New Launches
Luxury Cars
Compare Cars
Car Dealers

CarDekho Services

Car Service History
Vahan

In [6]:
beginning = 'Popular Electric Cars in India'
ending = "Key Highlights of Electric Cars"
final_text = text[text.index(beginning):text.index(ending)]
final_text = final_text.replace("\n", "\t")

In [7]:
print(final_text)

Popular Electric Cars in India							3.6	|  119 reviews						Tata Nexon EV		Rs. 14.49 Lakh		 465 km range ● 4 hour 20 min charging time ● 150 kmph	View March Offers	Check On-Road Price »									4.3	|  59 reviews						Tata Punch EV		Rs. 10.98 Lakh		 421 km range ● 56 min charging time ● 60kW	View March Offers	Check On-Road Price »									4.6	|  215 reviews						Tata Tiago EV		Rs. 7.99 Lakh		 315 km range ● 58 min charging time ● 45kW	View March Offers	Check On-Road Price »									4.1	|  63 reviews						Kia EV6		Rs. 60.95 Lakh		 708 km range ● 18 min charging time ● 192 kmph	View March Offers	Check On-Road Price »									3.7	|  139 reviews						MG Comet EV		Rs. 6.98 Lakh		 230 km range ● 3 hour 18 min charging time ● 41kW	View March Offers	Check On-Road Price »									5	|  read reviews						BYD Seal		Rs. 41.00 Lakh		 650 km range	View March Offers	Check On-Road Price »									5	|  43 reviews						BMW i7		Rs. 2.13 Crore		 625 km range ● 250 kmph ● 400kW	View March Offers	Check On-Road Price »									4.4	|  123 reviews						Mahindra XUV400 EV		Rs. 15.49 Lakh		 456 km range ● 6 hour 30 min charging time ● 150 kmph	View March Offers	Check On-Road Price »									4.2	|  106 reviews						MG ZS EV		Rs. 18.98 Lakh		 461 km range ● 9 hour charging time ● 175 kmph	View March Offers	Check On-Road Price »									4	|  51 reviews						Hyundai Kona Electric		Rs. 23.84 Lakh		 452 km range ● 19 hour charging time ● 100kW	View March Offers	Check On-Road Price »									4.4	|  53 reviews						BMW iX		Rs. 1.21 Crore		 425 km range ● 7 hour 15 min charging time ● 200 kmph	View March Offers	Check On-Road Price »												Rolls-Royce Spectre		Rs. 7.50 Crore		 530 km range	View March Offers	Check On-Road Price »									4.6	|  102 reviews						Tata Tigor EV		Rs. 12.49 Lakh		 315 km range ● 59 min charging time ● 55kW	View March Offers	Check On-Road Price »									3.9	|  67 reviews						BYD Atto 3		Rs. 33.99 Lakh		 521 km range ● 9 hour 30 min charging time ● 150kW	View March Offers	Check On-Road Price »									4.1	|  54 reviews						BMW i4		Rs. 72.50 Lakh		 590 km range ● 31 min charging time ● 190 kmph	View March Offers	Check On-Road Price »									4.6	|  70 reviews						BYD E6		Rs. 29.15 Lakh		 520 km range ● 12 hour charging time ● 130 kmph	View March Offers	Check On-Road Price »									4.4	|  78 reviews						Citroen eC3		Rs. 11.61 Lakh		 320 km range ● 107 kmph ● 41kW	View March Offers	Check On-Road Price »									4	|  40 reviews						Audi e-tron		Rs. 1.02 Crore		 484 km range ● 30 min charging time ● 200 kmph	View March Offers	Check On-Road Price »									4.7	|  40 reviews						Mercedes-Benz EQS		Rs. 1.62 Crore		 857 km range ● 210 kmph	Contact Dealer	Check On-Road Price »									3	|  read reviews						Lotus Eletre		Rs. 2.55 Crore		 600 km range ● 265 kmph ● 450kW	View March Offers	Check On-Road Price »									4.8	|  read reviews						Porsche Taycan		Rs. 1.60 Crore		 452 km range ● 8 hour charging time ● 240 kmph	View March Offers	Check On-Road Price »									3	|  17 reviews						PMV EaS E		Rs. 4.79 Lakh		 160 km range ● 70 kmph	View March Offers	Check On-Road Price »									4.8	|  53 reviews						Mercedes-Benz EQB		Rs. 74.50 Lakh		 423 km range ● 160 kmph	Contact Dealer	Check On-Road Price »									4.2	|  38 reviews						Jaguar I-Pace		Rs. 1.25 Crore		 470 km range ● 8 hour 30 min charging time ● 200 kmph	View March Offers	Check On-Road Price »									4.8	|  43 reviews						Audi e-tron GT		Rs. 1.71 Crore		 500 km range ● 9 hour 30 min charging time ● 250 kmph	View March Offers	Check On-Road Price »									4	|  46 reviews						Volvo XC40 Recharge		Rs. 54.95 Lakh		 592 km range ● 28 min charging time ● 180 kmph	View March Offers	Check On-Road Price »									4.7	|  19 reviews						Strom Motors R3		Rs. 4.50 Lakh		 200 km range ● 3 hour charging time ● 80 kmph	View March Offers	Check On-Road Price »									5	|  read reviews						Audi RS e-tron GT		Rs. 1.95 Crore		 481 km range ● 9 hour 30 min charging time ● 200 kmph	View March Offers	Check On-Road Price »									2.6	|  39 reviews						Mini Cooper SE		Rs. 53.50 Lakh		 270 km range ● 2 hour 30 min charging time ● 150 kmph	View March Offers	Check On-Road Price »									4.6	|  64 reviews						Hyundai IONIQ 5		Rs. 45.95 Lakh		 631 km range ● 6 hour 55 min charging time ● 160kW	View March Offers	Check On-Road Price »									5	|  read reviews						BMW iX1		Rs. 66.90 Lakh		 440 km range ● 6 hour 30 min charging time ● 180 kmph	View March Offers	Check On-Road Price »									4.7	|  read reviews						Volvo C40 Recharge		Rs. 62.95 Lakh		 530 km range ● 27 min charging time ● 180 kmph	View March Offers	Check On-Road Price »												Mercedes-Benz EQE SUV		Rs. 1.39 Crore		 550 km range ● 210 kmph ● 402kW	View March Offers	Check On-Road Price »												Audi Q8 e-tron		Rs. 1.14 Crore		 582 km range ● 200 kmph ● 335kW	View March Offers	Check On-Road Price »									4	|  read reviews						Pravaig DEFY		Rs. 39.50 Lakh		 500 km range ● 210 kmph ● 300kW	View March Offers	Check On-Road Price »												Mercedes-Benz AMG EQS		Rs. 2.45 Crore		 580 km range ● 250 kmph	View March Offers	Check On-Road Price »												Audi Q8 Sportback e-tron		Rs. 1.19 Crore		 600 km range ● 190 kmph ● 335kW	View March Offers	Check On-Road Price »												Porsche Macan EV		Rs. 1.65 Crore		 	View March Offers	Check On-Road Price »						View More Cars 							Electric Cars by Budget	Range	Charging Time								Under 10 Lakh	Under 15 Lakh	Under 20 Lakh	Under 40 Lakh	Above 40 Lakh							200 km Range	300 km Range	400 km Range	500 km Range	Long Range							Fast Charging	Under 8 Hours	Slow Charging							Electric Car by Brand						Tata						Kia						Hyundai						Mahindra						Mercedes Benz						MG Motor						Audi						BMW						Jaguar						Volvo						Porsche						Citroen					All Car Brands

In [8]:
len(final_text)

5818

### Storing the page content in file

In [9]:
with open("ev_article.txt", "w") as f:
    f.write(final_text)

### Libararies or components used.

- OpenAI (https://platform.openai.com/)
- LangChain (https://langchain.com/)

## Configuring LLM for Query

In [10]:
import os
import openai
from getpass import getpass
from pprint import pprint

In [12]:
from google.colab import userdata

In [14]:
os.environ['OPENAI_API_KEY'] = userdata.get('OPENAI_API_KEY')

In [ ]:
#openai.api_key  = os.getenv('OPENAI_API_KEY')

### Initializing the OpenAI Chat Model

In [15]:
from langchain_openai import ChatOpenAI
from langchain.chains import create_extraction_chain, create_extraction_chain_pydantic
from langchain.prompts import ChatPromptTemplate

In [18]:
from langchain.chains.conversation.memory import ConversationBufferWindowMemory
from langchain.chains import RetrievalQA

# chat completion llm
llm = ChatOpenAI(
    model_name='gpt-4o-2024-11-20',
    temperature=0.0
)

### Configuring the Retrieval QA Chain

https://json-schema.org/understanding-json-schema/

In [19]:
schema = {
    "properties": {
        "model_name": {"type": "string"},
        "price": {"type": "string"},
        "range_kms": {"type": "integer"}
    },
    "required": ["model_name", "price", "range_kms"],
}

### Configurating Conversational Memory

In [20]:
chain = create_extraction_chain(schema, llm)

<ipython-input-20-81d8965c1b65>:1: LangChainDeprecationWarning: LangChain has introduced a method called `with_structured_output` thatis available on ChatModels capable of tool calling.You can read more about the method here: <https://python.langchain.com/docs/modules/model_io/chat/structured_output/>. Please follow our extraction use case documentation for more guidelineson how to do information extraction with LLMs.<https://python.langchain.com/docs/use_cases/extraction/>. If you notice other issues, please provide feedback here:<https://github.com/langchain-ai/langchain/discussions/18154>
  chain = create_extraction_chain(schema, llm)

In [21]:
print(chain.prompt.messages[0])

prompt=PromptTemplate(input_variables=['input'], input_types={}, partial_variables={}, template="Extract and save the relevant entities mentioned in the following passage together with their properties.\n\nOnly extract the properties mentioned in the 'information_extraction' function.\n\nIf a property is not present and is not required in the function parameters, do not include it in the output.\n\nPassage:\n{input}\n") additional_kwargs={}

In [22]:
print(chain.prompt.messages[0].prompt.template)

Extract and save the relevant entities mentioned in the following passage together with their properties.

Only extract the properties mentioned in the 'information_extraction' function.

If a property is not present and is not required in the function parameters, do not include it in the output.

Passage:
{input}

In [23]:
chain.llm_kwargs

{'functions': [{'name': 'information_extraction',
   'description': 'Extracts the relevant information from the passage.',
   'parameters': {'type': 'object',
    'properties': {'info': {'type': 'array',
      'items': {'type': 'object',
       'properties': {'model_name': {'title': 'model_name', 'type': 'string'},
        'price': {'title': 'price', 'type': 'string'},
        'range_kms': {'title': 'range_kms', 'type': 'integer'}},
       'required': ['model_name', 'price', 'range_kms']}}},
    'required': ['info']}}],
 'function_call': {'name': 'information_extraction'}}

## Asking Questions

In [24]:
response = chain.invoke(final_text)

In [25]:
print(response['text'])

[{'model_name': 'Tata Nexon EV', 'price': 'Rs. 14.49 Lakh', 'range_kms': 465}, {'model_name': 'Tata Punch EV', 'price': 'Rs. 10.98 Lakh', 'range_kms': 421}, {'model_name': 'Tata Tiago EV', 'price': 'Rs. 7.99 Lakh', 'range_kms': 315}, {'model_name': 'Kia EV6', 'price': 'Rs. 60.95 Lakh', 'range_kms': 708}, {'model_name': 'MG Comet EV', 'price': 'Rs. 6.98 Lakh', 'range_kms': 230}, {'model_name': 'BYD Seal', 'price': 'Rs. 41.00 Lakh', 'range_kms': 650}, {'model_name': 'BMW i7', 'price': 'Rs. 2.13 Crore', 'range_kms': 625}, {'model_name': 'Mahindra XUV400 EV', 'price': 'Rs. 15.49 Lakh', 'range_kms': 456}, {'model_name': 'MG ZS EV', 'price': 'Rs. 18.98 Lakh', 'range_kms': 461}, {'model_name': 'Hyundai Kona Electric', 'price': 'Rs. 23.84 Lakh', 'range_kms': 452}, {'model_name': 'BMW iX', 'price': 'Rs. 1.21 Crore', 'range_kms': 425}, {'model_name': 'Rolls-Royce Spectre', 'price': 'Rs. 7.50 Crore', 'range_kms': 530}, {'model_name': 'Tata Tigor EV', 'price': 'Rs. 12.49 Lakh', 'range_kms': 315}, {'model_name': 'BYD Atto 3', 'price': 'Rs. 33.99 Lakh', 'range_kms': 521}, {'model_name': 'BMW i4', 'price': 'Rs. 72.50 Lakh', 'range_kms': 590}, {'model_name': 'BYD E6', 'price': 'Rs. 29.15 Lakh', 'range_kms': 520}, {'model_name': 'Citroen eC3', 'price': 'Rs. 11.61 Lakh', 'range_kms': 320}, {'model_name': 'Audi e-tron', 'price': 'Rs. 1.02 Crore', 'range_kms': 484}, {'model_name': 'Mercedes-Benz EQS', 'price': 'Rs. 1.62 Crore', 'range_kms': 857}, {'model_name': 'Lotus Eletre', 'price': 'Rs. 2.55 Crore', 'range_kms': 600}, {'model_name': 'Porsche Taycan', 'price': 'Rs. 1.60 Crore', 'range_kms': 452}, {'model_name': 'PMV EaS E', 'price': 'Rs. 4.79 Lakh', 'range_kms': 160}, {'model_name': 'Mercedes-Benz EQB', 'price': 'Rs. 74.50 Lakh', 'range_kms': 423}, {'model_name': 'Jaguar I-Pace', 'price': 'Rs. 1.25 Crore', 'range_kms': 470}, {'model_name': 'Audi e-tron GT', 'price': 'Rs. 1.71 Crore', 'range_kms': 500}, {'model_name': 'Volvo XC40 Recharge', 'price': 'Rs. 54.95 Lakh', 'range_kms': 592}, {'model_name': 'Strom Motors R3', 'price': 'Rs. 4.50 Lakh', 'range_kms': 200}, {'model_name': 'Audi RS e-tron GT', 'price': 'Rs. 1.95 Crore', 'range_kms': 481}, {'model_name': 'Mini Cooper SE', 'price': 'Rs. 53.50 Lakh', 'range_kms': 270}, {'model_name': 'Hyundai IONIQ 5', 'price': 'Rs. 45.95 Lakh', 'range_kms': 631}, {'model_name': 'BMW iX1', 'price': 'Rs. 66.90 Lakh', 'range_kms': 440}, {'model_name': 'Volvo C40 Recharge', 'price': 'Rs. 62.95 Lakh', 'range_kms': 530}, {'model_name': 'Mercedes-Benz EQE SUV', 'price': 'Rs. 1.39 Crore', 'range_kms': 550}, {'model_name': 'Audi Q8 e-tron', 'price': 'Rs. 1.14 Crore', 'range_kms': 582}, {'model_name': 'Pravaig DEFY', 'price': 'Rs. 39.50 Lakh', 'range_kms': 500}, {'model_name': 'Mercedes-Benz AMG EQS', 'price': 'Rs. 2.45 Crore', 'range_kms': 580}, {'model_name': 'Audi Q8 Sportback e-tron', 'price': 'Rs. 1.19 Crore', 'range_kms': 600}, {'model_name': 'Porsche Macan EV', 'price': 'Rs. 1.65 Crore', 'range_kms': 0}]

### To buy or to wait

In [26]:
import pandas as pd
import json

In [27]:
ev_df = pd.read_json(json.dumps(response['text']))

<ipython-input-27-dec9bad560be>:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ev_df = pd.read_json(json.dumps(response['text']))

In [28]:
ev_df

                  model_name           price  range_kms
0              Tata Nexon EV  Rs. 14.49 Lakh        465
1              Tata Punch EV  Rs. 10.98 Lakh        421
2              Tata Tiago EV   Rs. 7.99 Lakh        315
3                    Kia EV6  Rs. 60.95 Lakh        708
4                MG Comet EV   Rs. 6.98 Lakh        230
5                   BYD Seal  Rs. 41.00 Lakh        650
6                     BMW i7  Rs. 2.13 Crore        625
7         Mahindra XUV400 EV  Rs. 15.49 Lakh        456
8                   MG ZS EV  Rs. 18.98 Lakh        461
9      Hyundai Kona Electric  Rs. 23.84 Lakh        452
10                    BMW iX  Rs. 1.21 Crore        425
11       Rolls-Royce Spectre  Rs. 7.50 Crore        530
12             Tata Tigor EV  Rs. 12.49 Lakh        315
13                BYD Atto 3  Rs. 33.99 Lakh        521
14                    BMW i4  Rs. 72.50 Lakh        590
15                    BYD E6  Rs. 29.15 Lakh        520
16               Citroen eC3  Rs. 11.61 Lakh        320
17               Audi e-tron  Rs. 1.02 Crore        484
18         Mercedes-Benz EQS  Rs. 1.62 Crore        857
19              Lotus Eletre  Rs. 2.55 Crore        600
20            Porsche Taycan  Rs. 1.60 Crore        452
21                 PMV EaS E   Rs. 4.79 Lakh        160
22         Mercedes-Benz EQB  Rs. 74.50 Lakh        423
23             Jaguar I-Pace  Rs. 1.25 Crore        470
24            Audi e-tron GT  Rs. 1.71 Crore        500
25       Volvo XC40 Recharge  Rs. 54.95 Lakh        592
26           Strom Motors R3   Rs. 4.50 Lakh        200
27         Audi RS e-tron GT  Rs. 1.95 Crore        481
28            Mini Cooper SE  Rs. 53.50 Lakh        270
29           Hyundai IONIQ 5  Rs. 45.95 Lakh        631
30                   BMW iX1  Rs. 66.90 Lakh        440
31        Volvo C40 Recharge  Rs. 62.95 Lakh        530
32     Mercedes-Benz EQE SUV  Rs. 1.39 Crore        550
33            Audi Q8 e-tron  Rs. 1.14 Crore        582
34              Pravaig DEFY  Rs. 39.50 Lakh        500
35     Mercedes-Benz AMG EQS  Rs. 2.45 Crore        580
36  Audi Q8 Sportback e-tron  Rs. 1.19 Crore        600
37          Porsche Macan EV  Rs. 1.65 Crore          0

In [29]:
ev_df['price_lakhs'] = ev_df.price.map(lambda x: (float(x.split(" ")[1])*100
                                                if 'crore' in (x.split(" ")[2].lower())
                                                else float(x.split(" ")[1])))

In [30]:
ev_df['make'] = ev_df.model_name.map(lambda x: x.split()[0])

In [31]:
ev_df[0:10]

              model_name           price  range_kms  price_lakhs      make
0          Tata Nexon EV  Rs. 14.49 Lakh        465        14.49      Tata
1          Tata Punch EV  Rs. 10.98 Lakh        421        10.98      Tata
2          Tata Tiago EV   Rs. 7.99 Lakh        315         7.99      Tata
3                Kia EV6  Rs. 60.95 Lakh        708        60.95       Kia
4            MG Comet EV   Rs. 6.98 Lakh        230         6.98        MG
5               BYD Seal  Rs. 41.00 Lakh        650        41.00       BYD
6                 BMW i7  Rs. 2.13 Crore        625       213.00       BMW
7     Mahindra XUV400 EV  Rs. 15.49 Lakh        456        15.49  Mahindra
8               MG ZS EV  Rs. 18.98 Lakh        461        18.98        MG
9  Hyundai Kona Electric  Rs. 23.84 Lakh        452        23.84   Hyundai

In [32]:
ev_df.to_csv('ev_models.csv', index = False)

## Using Pydantic

https://docs.pydantic.dev/latest/

```
schema = {
    "properties": {
        "model_name": {"type": "string"},
        "price": {"type": "string"},
        "range_kms": {"type": "integer"},
        "battery_capacity": {"type": "integer"},
    },
    "required": ["person_name", "price_lakhs", "range_kms"],
}

```

In [33]:
from typing import Optional, List
from pydantic import BaseModel, Field
from langchain.chains import create_extraction_chain_pydantic

In [45]:
from pydantic import BaseModel, Field, validator

# Pydantic data class
class Properties(BaseModel):
    car_model: str = Field(description="The name of the EV model")
    price: str = Field(description="Price of the model in lakhs (Indian Rupees)")
    range_kms: Optional[int] = Field(description="Kilometers it would travel aftera single full charge")

In [46]:
chain = create_extraction_chain_pydantic(pydantic_schema=Properties,
                                         llm=llm)

In [47]:
pprint(print(chain.prompt.messages[0].prompt.template))

Extract and save the relevant entities mentioned in the following passage together with their properties.

Only extract the properties mentioned in the 'information_extraction' function.

If a property is not present and is not required in the function parameters, do not include it in the output.

Passage:
{input}

None

In [48]:
chain.llm_kwargs

{'functions': [{'name': 'information_extraction',
   'description': 'Extracts the relevant information from the passage.',
   'parameters': {'type': 'object',
    'properties': {'info': {'type': 'array',
      'items': {'type': 'object',
       'properties': {'car_model': {'title': 'Car Model',
         'description': 'The name of the EV model',
         'type': 'string'},
        'price': {'title': 'Price',
         'description': 'Price of the model in lakhs (Indian Rupees)',
         'type': 'string'},
        'range_kms': {'title': 'Range Kms',
         'anyOf': [{'type': 'integer'}, {'type': 'null'}],
         'description': 'Kilometers it would travel aftera single full charge'}},
       'required': ['car_model', 'price', 'range_kms']}}},
    'required': ['info']}}],
 'function_call': {'name': 'information_extraction'}}

In [49]:
response = chain.invoke(final_text)

In [ ]:
print(response['text'])

In [50]:
pd.DataFrame([(x.car_model, x.price, x.range_kms) for x in response['text']])

                           0           1      2
0              Tata Nexon EV  14.49 Lakh  465.0
1              Tata Punch EV  10.98 Lakh  421.0
2              Tata Tiago EV   7.99 Lakh  315.0
3                    Kia EV6  60.95 Lakh  708.0
4                MG Comet EV   6.98 Lakh  230.0
5                   BYD Seal  41.00 Lakh  650.0
6                     BMW i7  2.13 Crore  625.0
7         Mahindra XUV400 EV  15.49 Lakh  456.0
8                   MG ZS EV  18.98 Lakh  461.0
9      Hyundai Kona Electric  23.84 Lakh  452.0
10                    BMW iX  1.21 Crore  425.0
11       Rolls-Royce Spectre  7.50 Crore  530.0
12             Tata Tigor EV  12.49 Lakh  315.0
13                BYD Atto 3  33.99 Lakh  521.0
14                    BMW i4  72.50 Lakh  590.0
15                    BYD E6  29.15 Lakh  520.0
16               Citroen eC3  11.61 Lakh  320.0
17               Audi e-tron  1.02 Crore  484.0
18         Mercedes-Benz EQS  1.62 Crore  857.0
19              Lotus Eletre  2.55 Crore  600.0
20            Porsche Taycan  1.60 Crore  452.0
21                 PMV EaS E   4.79 Lakh  160.0
22         Mercedes-Benz EQB  74.50 Lakh  423.0
23             Jaguar I-Pace  1.25 Crore  470.0
24            Audi e-tron GT  1.71 Crore  500.0
25       Volvo XC40 Recharge  54.95 Lakh  592.0
26           Strom Motors R3   4.50 Lakh  200.0
27         Audi RS e-tron GT  1.95 Crore  481.0
28            Mini Cooper SE  53.50 Lakh  270.0
29           Hyundai IONIQ 5  45.95 Lakh  631.0
30                   BMW iX1  66.90 Lakh  440.0
31        Volvo C40 Recharge  62.95 Lakh  530.0
32     Mercedes-Benz EQE SUV  1.39 Crore  550.0
33            Audi Q8 e-tron  1.14 Crore  582.0
34              Pravaig DEFY  39.50 Lakh  500.0
35     Mercedes-Benz AMG EQS  2.45 Crore  580.0
36  Audi Q8 Sportback e-tron  1.19 Crore  600.0
37          Porsche Macan EV  1.65 Crore    NaN